@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
    font-family : "Roboto Serif", serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
.company-name {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 60;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    font-size: 35;
    width: 50%;
}